<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>配置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kinken.prefs</string>
			<key>key</key>
			<string>tweakEnable</string>
			<key>label</key>
			<string>启用</string>
		</dict>
		<dict>
		  	<key>cell</key>
		  	<string>PSButtonCell</string>
		  	<key>label</key>
		  	<string>选择照片</string>
		  	<key>action</key>
		  	<string>selectPhoto</string>			
		 </dict>
		<dict>
		    <key>cell</key>
		    <string>PSTableCell</string>
		    <key>cellClass</key>
			<string>WWCustomCell</string>
		    <key>id</key>
		  	<string>preview</string>
		    <key>height</key>
		    <integer>600</integer>
		</dict>
	</array>
	<key>title</key>
	<string>替换照片</string>
</dict>
</plist>
